@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<br />
<p>
    This is a project developed in MVC with entity framework and layer patterns 
    (Model, Repository, Interfaces, Data Transfer object (DTO) and business), 
    seeking a better development quality and application structure.
</p>
<br />
<p>
    About the system, it consists of a simple crud, where it is possible to register a student, 
    enroll him in a course, check his enrollment, delete from the system (with relational verification, 
    where a student can only be removed if he is not in the register of inscriptions) and visualization 
    of details on all mentioned items.
</p>
<br />
<p>
    I have other projects as interesting as this one! get there on my <a href="https://github.com/maycondbraga">GitHub</a> ;)
</p>