@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Leyre University</h1>
    <br />
    <p>Here you will learn the best of ASP.NET Core development with Entity Framework and Design Patterns, click 
        <a asp-controller="About" asp-action="Index">here</a> to learn more.
    </p>
</div>
